<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Descriptions" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/Assets/client/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/Assets/client/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/Assets/client/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/Assets/client/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/Assets/client/css/font-awesome.min.css">
    <link href="/Assets/client/css/boostrap-social.css" rel="stylesheet" />
    <link href="/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/Assets/client/css/style.css" />
    <link href="/Assets/client/css/slider.css" rel="stylesheet" />

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        @{ Html.RenderAction("TopMenu", "Home");}
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">

            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="/tim-kiem" method="get">
                                <input class="input" type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Cart -->
                            @{ Html.RenderAction("HeaderCart", "Home");}
                            <!-- /Cart -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                @{Html.RenderAction("MainMenu", "Home");}
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                @RenderBody()
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- FOOTER -->
    @{ Html.RenderAction("Footer", "Home");}

    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "109477347973637");
        chatbox.setAttribute("attribution", "biz_inbox");
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="/Assets/client/js/jquery.min.js"></script>
    <script src="/Assets/client/js/jquery-ui.js"></script>
    <script src="/Assets/client/js/bootstrap.min.js"></script>
    <script src="/Assets/client/js/slick.min.js"></script>
    <script src="/Assets/client/js/nouislider.min.js"></script>
    <script src="/Assets/client/js/jquery.zoom.min.js"></script>
    <script src="/Assets/client/js/main.js"></script>
    <script src="/Assets/client/js/controller/baseController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
