@model List<Model.EF.Menu>
<div id="top-header">
    <div class="container">
        @{ var session = (UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];}
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +0387-53-11-53</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> 5951071114@st.utc2.edu.vn</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 72/4/6 Tăng Nhơn Phú A</a></li>
        </ul>

        @if (session == null)
            {
            <ul class="header-links pull-right">
                @foreach (var item in Model)
                {
                    <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
                }
            </ul>
        }
        else
        {
            <ul class="header-links pull-right">
                <li><a href="#">Xin chào: @session.UserName</a></li>
                <li>@Html.ActionLink("Thoát","Logout","User")</li>
            </ul>
        }
    </div>
</div>
